/*
Author: arrozet (Rubén Oliva)
Co-author: amcgiluma (Juan Manuel Valenzuela)
*/

/* Estilos específicos para la página de login */

html {
    height: 100%; /* Asegura que html ocupe toda la altura */
}

body.login-page {
    min-height: 100vh; /* Usa min-height para asegurar que ocupa al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    /*justify-content: center;*/
    background-color: #e9ecef;
}

/* En la página de login, el banner no debe tener su propio fondo */
.login-page .page-banner {
    background-color: transparent !important;
}

/* Y el título debe ser negro para que se vea sobre el fondo claro */
.login-page .page-banner .title,
.login-page .page-banner .subtitle {
    color: black !important;
}

.login-box {
    width: 30%;
    padding: 2rem;
    background-color: #e9ecef;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    /*box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);*/
}

/* El texto dentro de la caja de logueo */
.login-box .title, .login-box .label {
    color: #000; /* Black */
}

.login-box .button.login{
    background-color: #00ac1c;
    color: white;
}
.login-box .button.register {
    background-color: transparent;
    border-color: #3e8ed0; /* Color 'info' de Bulma para coincidir con los inputs */
    color: #3e8ed0;
}

.login-box .button.register:hover {
    background-color: #3e8ed0;
    color: #fff;
}