/*
Author: projectGeorge (Jorge Repullo)
*/

.movie-card {
    position: relative;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.movie-link {
    text-decoration: none;
    color: inherit;
}

.movie-poster {
    overflow: hidden;
    border-radius: 8px;
}

.rounded-corners {
    border-radius: 8px;
}

/* Estilos para el banner en user.jsp */
.user-page-banner {
    background-color: #5B3A7B  !important;
}

.user-page-banner .title,
.user-page-banner .subtitle {
    color: white !important;
}